/cmake-build-debug/
/cmake-build-release/
/build/
bin/
obj/

cubiomes/

.idea/
.vscode/
*.swp
*.swo

Crossroadsfinder
Crossroadsfinder.exe
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

*.gcda
*.gcno
*.gcov

.DS_Store
Thumbs.db